@import '~/app/heroes/common.css';

.theme {
  background-color: var(--bg-color-b);
}

.container {
  background-color: #efeff4;
}

.search-container {
  padding: 15;
}
.search-container TextField {
  color: #757575;
  padding-left: 10;
  font-size: 20;
}
.search-container button {
  background-color: #30ce91;
  color: white;
  font-size: 18;
  padding: 10 30;
  border-radius: 20;
}

ListView {
  background-color: transparent;
  separator-color: transparent;
}

.hero-container {
  background-color: white;
  border-radius: 10;
  margin: 10 15;
  padding: 15;
}
.circle {
  background-color: #c6d7fe;
  color: #2a48cd;
}
.hero-label {
  font-weight: bold;
  font-size: 18;
  margin-left: 10;
}
.delete-button {
  font-size: 24;
  font-weight: normal;
}
